---
import { type HTMLAttributes } from "astro/types";
import cn from "@utils/cn";
import { Image } from "astro:assets";
import ButtonLink from "./Ui/ButtonLink.astro";

type Props = HTMLAttributes<"section"> & {
  imageSrc: ImageMetadata;
  imageAlt: string;
  isReverse?: boolean;
  features?: string[];
  tags?: string[];
};

const {
  id: anchorId,
  imageSrc,
  imageAlt,
  isReverse = false,
  features = [],
  tags = [],
  class: className,
  ...props
} = Astro.props;
---

<section
  id={anchorId}
  class:list={cn("mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:px-8", className)}
  {...props}
>
  <div
    class:list={cn(
      "flex flex-col items-center gap-8 lg:flex-row",
      isReverse && "lg:flex-row-reverse",
    )}
  >
    <!-- Image -->
    <div class="w-full shrink-0 lg:w-1/2">
      <Image
        src={imageSrc}
        alt={imageAlt}
        class="corner-squircle w-full rounded-lg object-cover supports-[corner-shape:squircle]:rounded-3xl"
      />
    </div>

    <!-- Text content -->
    <div class="w-full lg:w-1/2">
      <h2
        class="mb-4 text-2xl font-bold"
        style="color: var(--color-accent-primary);"
      >
        <slot name="title" />
      </h2>

      <div class="mb-6 text-gray-600">
        <slot name="description" />
      </div>

      {
        features.length > 0 && (
          <div class="mb-6 grid grid-cols-1 gap-4 text-gray-700 sm:grid-cols-2">
            {features.map((feature) => (
              <div class="flex items-start gap-2">
                <span class="font-bold text-(--primary)">✓</span>
                {feature}
              </div>
            ))}
          </div>
        )
      }

      {
        tags.length > 0 && (
          <>
            <p class="mb-3 text-sm font-bold text-black">
              Products we customize:
            </p>
            <div class="mb-8 flex flex-wrap gap-2">
              {tags.map((tag) => (
                <span class="bg-primary/10 text-primary rounded-full px-3 py-1 text-sm">
                  {tag}
                </span>
              ))}
            </div>
          </>
        )
      }

      <ButtonLink href="/contactUs">Request a Quote</ButtonLink>
    </div>
  </div>
</section>
